body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

h1 {
    color: #de022b;
}

ul li {
    line-height: 1.5em;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    display: table-caption;
}

input, select {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    min-width: 75px;
}

input[type="submit"] {
    padding: 5px 10px;
}

select {
    width: 200px;
}

code {
    display: block;
    margin-bottom: 20px;
}